<%- include('partials/header') %>
<div class="form-group col-md-6" style="color: darkolivegreen;">
    <h1>Na dashboard....</h1>
    <h3>UID: <%= user.uid; %></h3>
    <h3>EMAIL: <%= user.email; %></h3>
    <h3>DISPLAY NAME: <%= user.displayName; %></h3>
</div>
<hr></hr>
<h3>Atualizar perfil</h3>
<form action="/updateprofile" method="POST">
    <div class="form-group col-md-6">
        <label for="name">Nome</label>
        <input type="name" name="nome" class="form-control" id="profileName" aria-describedby="nameHelp"
               placeholder="@nome">
    </div>
    <div class="form-group col-md-6" style="color: red;">
        <%= (code === 5) ? errorMsg : ''; %>
    </div>
    <div class="form-group col-md-6">
        <button type="submit" class="btn btn-primary">Atualizar perfil</button>
    </div>
</form>
<div class="form-group col-md-6">
    <a href="/">Voltar</a>
</div>
<%- include('partials/footer') %>